@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  min-height: 100vh;
  background-color: #0e0e0e;
  color: #fff;
}

a {
  text-decoration: none;
}